# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore eclipse specfific folder and files
.settings
.classpath
.project

# Ignore eclipse binary output
bin

# Ignore gradle directory and executables
gradle
gradlew
gradlew.bat
